@page "/addcategory"

@inject NavigationManager NavigationManager
@inject IAddCategoryUseCase AddCategoryUseCase
<h3>Category Component</h3>

@if (category != null)
{
    <EditForm Model="category" OnInvalidSubmit="OnValidSumit">
        <DataAnnotationsValidator></DataAnnotationsValidator>

        <div class="form-group">
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="category.Name" class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <InputText id="description" @bind-Value="category.Description" class="form-control"></InputText>
        </div>
        <button type="button" class="btn btn-primary"@onclick="OnSave">Save</button>
        <button type="button" class="btn btn-primary" @onclick="OnCancel">Cancel</button>
</EditForm>
}

@code {
    private Category category;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        category = new Category();
    }
    private void OnValidSumit()
    {
        AddCategoryUseCase.Execute(category);
        NavigationManager.NavigateTo("/categories");

    }
    private void OnCancel()
    {
        NavigationManager.NavigateTo("/categories");
    }
    private void OnSave()
    {
        AddCategoryUseCase.Execute(category);
        NavigationManager.NavigateTo("/categories");

    }
}